# Google Integration
GOOGLE_APPLICATION_CREDENTIALS_JSON=
GOOGLE_SHEET_ID=
GOOGLE_SHEET_RANGE=
GOOGLE_SHEET_URL_HEADER=website_url
GOOGLE_SHEET_STATUS_HEADER=status
GOOGLE_DRIVE_FOLDER_ID=

# External Crawler & AI
SCALEWAY_API_KEY=

# Webhook Integrations
# (Optional) Endpoint to be called after a successful crawl and Google Drive upload
UPLOAD_WEBHOOK_URL=

# Phoenix Application Defaults
DATABASE_URL=
SECRET_KEY_BASE=
PORT=4000